{
  "root": true,
  "extends": "airbnb-typescript-prettier",
  "rules": {
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/destructuring-assignment": "off"
  }
}
