@keyframes rendered {
    0% {
      stroke: black;
    }
    100% {
      stroke: none;
    }
  }
  
  .rerender {
    animation-name: rendered;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
  }